DirectoryIndex index.html

ErrorDocument 403 /403.html
ErrorDocument 404 /404.html

Options -Indexes

RewriteEngine On
RewriteRule   ^home/?$   /index.html  [NC]
RewriteRule   ^projects/?$   /Projects.html  [NC]
RewriteRule   ^about/?$   /Aboutme.html  [NC]
RewriteRule   ^contact/?$   /Contactme.html  [NC]
RewriteRule   ^403/?$   /403.html  [NC]
RewriteRule   ^404/?$   /404.html  [NC]

RewriteCond %{HTTPS} off 
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

