@font-face {
  font-family: Circular;
  src: url("./assets/fonts/CircularStd-Medium.ttf") format("truetype"), url("./assets/fonts/CircularStd-Medium.woff") format("woff");
}

* {
  font-family: "Circular";
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  cursor: none !important;
}

body {
  margin: 0;
  background-color: #151515;
}

h1 {
  color: rgb(226, 226, 226);
  width: 100%;
  font-size: 5vw;
  margin: 0;
}

h2 {
  color: rgb(162, 162, 162);
  font-size: 2.5vw;
  font-weight: lighter;
  width: 100%;
  margin: 0;
}

h3 {
  color: rgb(162, 162, 162);
  font-size: 1.8vw;
  font-weight: lighter;
  width: 100%;
  margin: 0;
}

h4,
p {
  color: rgb(162, 162, 162);
  font-size: 1vw;
  font-weight: lighter;
  width: 100%;
  margin: 0;
}

ul {
  margin-bottom: 50px !important;
}

li {
  font-size: 1vw;
  margin-block: 5px;
}

.center {
  text-align: center;
}

.space_below {
  margin-bottom: 30px;
}

.highlight {
  font-weight: bolder;
  color: rgb(232, 232, 232);
}

#cursor {
  position: absolute;
  mix-blend-mode: difference;
  width: 40px;
  height: 40px;
  top: -20px;
  left: -20px;
  border-radius: 50%;
  filter: grayscale(1);
  background: white;
  pointer-events: none;
  opacity: 1;
  transform-origin: center center;
  transform: scale(0.5) translate(-40px, -40px);
  z-index: 9999999999999999;
  transition: opacity 0.15s ease-in-out, transform 0.15s;
}

#cursor.zoom {
  transform: scale(1.2) translate(-20px, -20px);
  opacity: 1;
}

#cursor.hidden {
  transform: scale(1) translate(-20px, -20px);
  opacity: 0;
}

#background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #2828288b 2px, transparent 2px), linear-gradient(to bottom, #2828288b 2px, transparent 2px);
  z-index: -9999;
  box-shadow: 0 0 200px rgba(0, 0, 0, 1) inset;
}

#noise {
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 0.1;
  z-index: 999999;
  pointer-events: none;
}

#scroll_tutorial {
  position: fixed;
  height: 100px;
  width: auto;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: 1s;
}

#scroll_tutorial.hidden {
  opacity: 0;
}

#scroll_tutorial.invisible {
  opacity: 0;
}

.c-scrollbar_thumb {
  background-color: white !important;
}

#face_model_wrapper {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 999;
}

#face_model {
  position: absolute;
  display: block;
  width: 40%;
  height: 100vh;
  z-index: 9999;
  transform: translateX(0%);
  transition: transform 1.5s cubic-bezier(0.22, 0.04, 0, 0.99);
}

#face_model.hidden {
  transform: translateX(-50%);
}

#intro {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 1;
  transition: 0.5s;
  z-index: 9999999;
}

#intro.hidden {
  opacity: 0;
  pointer-events: none;
}

.section:nth-child(2n + 1) {
  margin-left: auto;
  padding-right: 80px;
}

.section:nth-child(2n) {
  margin-right: auto;
  padding-left: 80px;
}

.section.title {
  transform: translateX(0%);
  transition: transform 1s cubic-bezier(0.22, 0.04, 0, 0.99);
}

.section.title.hidden {
  transform: translateX(100%);
}

.section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 60%;
  box-sizing: border-box;
}

.section.no_padding {
  padding-left: 0px;
  padding-right: 0px;
}

.section.no_align {
  align-items: normal;
}

.button_wrapper {
  padding: 20px 30px;
}

.button_wrapper.hidden {
  display: none;
}

.button_wrapper.alt {
  margin-top: min(30px, 10%);
  max-width: 300px;
  margin-inline: auto;
}

.button_wrapper.small {
  width: fit-content;
  padding: 0px;
  margin-top: 10px;
}

.button_wrapper:hover > .button {
  background-color: #aeaeaea3;
  box-shadow: 0 0px 30px rgba(1 1 1 / 10%);
  border: 3px solid white;
}

.button {
  display: block;
  position: relative;
  padding: 15px 40px;
  box-sizing: border-box;
  border: 3px solid transparent;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  background-color: #aeaeae1b;
  will-change: transform;
  transition: transform 0.1s linear, background-color 0.2s ease-in-out;
}

.button.icon {
  padding: 10px;
  line-height: 0px;
}

.button.small {
  padding: 10px 20px;
  margin-top: 15px;
  font-size: 1.5em;
}

#main_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateX(0%);
  transition: 0.5s cubic-bezier(0.22, 0.04, 0, 0.99);
}

#main_info.hidden {
  transform: translateX(100vw);
}

#pdf_wrapper {
  position: absolute;
  right: 0;
  width: 60vw;
  transition: 0.5s cubic-bezier(0.22, 0.04, 0, 0.99);
}

#pdf_wrapper.hidden {
  right: -100vw;
}

#pdf {
  display: block;
  margin: auto;
  overflow: auto;
  height: 80vh;
  aspect-ratio: 1/1.4142;
}

#social_buttons_wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  width: min(500px, 100%);
}

.social_buttons {
  height: 50px;
  width: 50px;
}

.blob {
  position: absolute;
  background: radial-gradient(ellipse, rgb(48, 48, 48), rgba(37, 39, 39, 0.64) 35%, rgba(0, 0, 0, 0) 55%);
  z-index: -1;
  pointer-events: none;
  transform: rotate(10deg);
}

#work_title {
  position: relative;
  left: 0%;
  transition: 0.5s cubic-bezier(0.22, 0.04, 0, 0.99);
}

#work_title.hidden {
  left: -100%;
}

#work_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0%;
  margin-top: 30px;
  transition: 0.5s cubic-bezier(0.22, 0.04, 0, 0.99);
}

#work_wrapper.hidden {
  left: -100%;
}

#work_picture.hidden {
  display: none;
}

#work_arrows {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50px;
  height: 300px;
  margin-left: 40px;
}

.arrow {
  transition: 0.3s ease-in-out;
}

.arrow.hidden {
  pointer-events: none;
  opacity: 0.2;
}

#down_arrow {
  margin-top: 10px;
  transform: rotate(180deg);
}

#work_list {
  width: 60%;
  max-width: 800px;
  height: 100%;
  position: relative;
  margin-bottom: 20px;
}

.work {
  position: absolute;
  overflow: hidden;
  padding: 20px;
  min-height: 100px;
  background-color: #353535;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 5px 30px rgba(1 1 1 / 50%);
  transition: 0.3s cubic-bezier(0.22, 0.04, 0, 0.99);
}

.work.expand {
  min-height: 40vh;
}

.work.forward {
  opacity: 0;
  transform: translateY(-60%);
  z-index: 11;
}

.work.current {
  z-index: 10;
}

.work.back {
  transform: scale(0.9) translateY(35%);
  filter: blur(1px);
  background-color: #393939;
  pointer-events: none;
  z-index: 9;
}

.work.backback {
  transform: scale(0.8) translateY(65%);
  filter: blur(3px);
  pointer-events: none;
  background-color: #414141;
  opacity: 0.3;
  z-index: 8;
}

.work.hidden {
  transform: scale(0.8) translateY(65%);
  filter: blur(3px);
  pointer-events: none;
  background-color: #414141;
  opacity: 0;
  z-index: 7;
}

.work > .title {
  color: white;
}

.role {
  width: fit-content;
  background-color: #4a4a4a;
  padding: 5px 10px;
  border-radius: 6px;
  margin-top: 5px;
}

.time {
  margin-top: 10px;
}

.work > img {
  height: 100%;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translate(0%, -50%);
  -webkit-mask-image: linear-gradient(to left, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to left, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  transition: 0.3s;
}

.work.expand > img {
  transform: translate(100%, -50%);
}

#work_page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  padding: 50px;
  height: 100%;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 15%, rgb(0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 15%, rgb(0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(90deg, rgba(32, 32, 32, 1) 50%, rgba(255, 255, 255, 0) 100%);
  transition: 0.5s cubic-bezier(0.22, 0.04, 0, 0.99);
}

#work_page.hidden {
  left: -100%;
}

#work_general_info {
  display: flex;
  align-items: center;
}

#work_general_info > .close {
  margin-right: 50px;
  transform: rotate(270deg);
  height: 40px;
  width: 40px;
}

#work_page > .description {
  margin-top: 0px;
  padding-left: 120px;
  font-size: 1.3vw;
  color: rgb(162, 162, 162);
}

#work_page > .description > li {
  margin-bottom: 5px;
}

#work_picture {
  margin-top: 20px;
  margin-left: 100px;
  height: 30%;
}

#work_picture > img {
  width: auto;
  height: 100%;
  border-radius: 15px;
}

#horizontal_list_wrapper {
  height: 50%;
  min-height: 600px;
  width: calc(100% + 80px);
  left: -100px;
  white-space: nowrap;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 1) 120px, rgba(0, 0, 0, 1) 100%);
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 1) 120px, rgba(0, 0, 0, 1) 100%);
  padding: 30px;
  overflow: hidden;
  position: relative;
}

#horizontal_list {
  display: flex;
  position: relative;
  width: fit-content;
  height: 100%;
  left: 80px;
}

.card {
  height: 100%;
  aspect-ratio: 3/4;
  margin-right: 70px;
  will-change: transform;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  border: 3px solid transparent;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 0px 30px rgba(1 1 1 / 30%);
  border: 3px solid white;
}

.card > video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.card:hover > video {
  filter: grayscale(0);
}

.text_wrapper {
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  white-space: normal;
  z-index: 10;
}

.floor_fade {
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
  width: 100%;
}

#project_scrollbar {
  margin-top: 20px;
  width: 90%;
  height: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  left: -30px;
}

#project_scrollhandle {
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #606060;
  z-index: 1;
}

#project_scrollbackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2d2d2d;
}

.project_page.hidden {
  left: calc(100% + 500px);
}

.project_page {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100vh;
  width: 100vw;
  background-color: rgb(62, 62, 62);
  z-index: 99999;
  display: block;
  transition: 0.7s cubic-bezier(0.22, 0.04, 0, 0.99);
}

.project_page.hidden > .project_page_curve {
  width: 1000px;
}

.project_page_curve {
  border-radius: 50%;
  width: 250px;
  height: 200%;
  top: -50%;
  left: -100px;
  position: absolute;
  pointer-events: none;
  background-color: #3e3e3e;
  transition: 0.7s;
}

.project_page#secondary_panel,
.project_page#secondary_panel > .project_page_curve {
  background-color: #565656;
  z-index: 9999;
  transition: 0.5s cubic-bezier(0.22, 0.04, 0, 0.99);
}

.project_page > .close {
  top: 5%;
  right: 5%;
  transform: rotate(270deg);
  height: 40px;
  position: absolute;
  z-index: 9999;
}

#project_information {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5% 45% 5% 5%;
  overflow-y: scroll;
  box-sizing: border-box;
}

#project_information a {
  color: rgb(218, 218, 218);
}

#project_information > * {
  color: rgb(218, 218, 218);
  margin-bottom: 15px;
}

#project_information > img {
  margin-bottom: 30px;
}

.buttons {
  width: fit-content;
  display: flex;
}

#project_information > .buttons {
  transform: translateX(-20px);
  margin-bottom: 50px;
}

#work_page > .buttons {
  transform: translateX(60px);
  margin-bottom: 20px;
}

#project_information img {
  width: 100%;
  border-radius: 10px;
}

.text_wrapper > h2 {
  font-size: 2.6em;
}

.text_wrapper > h4 {
  font-size: 1em;
}

#project_page_trailer.hidden {
  opacity: 0;
}

#project_page_trailer {
  position: absolute;
  height: 100%;
  filter: grayscale();
  pointer-events: none;
  right: 0;
  -webkit-mask-image: linear-gradient(to left, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to left, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.4;
  transition: 0.5s;
}

#more_projects {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
}

.small_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  text-align: left;
  box-sizing: border-box;
  background-color: #2d2d2d;
  border: transparent solid 3px;
  transition: 0.3s;
}

.small_card:hover {
  border: white solid 3px;
  transform: scale(1.03);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0);
}
